.dropzone {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-width: 2px;
    border-radius: 2px;
    border-color: #eeeeee;
    border-style: dashed;
    background-color: #fafafa;
    color: #bdbdbd;
    outline: none;
    transition: border 0.24s ease-in-out;
}

body,
html {
    height: 100%;
    margin: 0;
    background: #f1f6f7;
    overflow: hidden;
    padding: 4px;
}

body,
html {
    font-family: 'Inter', sans-serif !important;
}

.ui {
    font-family: 'Inter', sans-serif !important;
}

h1 {
    font-family: 'Inter', sans-serif !important;
}

.ui.input > input {
    font-family: 'Inter', sans-serif !important;
}

.ui.input.focus > input,
.ui.input > input:focus {
    border-color: #3e5e57;
}
