.ui.vertical.menu .menu .item {
    font-size: 18px;
    /* color: #5c7060; */
    color: #4d5d50;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 0px;
    padding: 8px 8px;
    margin: 0 8px;
    font-weight: 400;
}

.ui.vertical.menu .menu .search {
    margin: 0 0px;
}

.ui.vertical.menu .menu .item:hover {
    color: #344237;
}

.ui.vertical.menu .item .menu .active.item {
    font-weight: 400;
    background: #fafefc;
    color: #3e5e57;
    border: 1px solid #f2f6f3;
}

.ui.vertical.menu .item .menu .active.item:hover {
    color: #3e5e57;
}

.ui.icon.input > i.circular.icon {
    top: 0.25em;
}

.menu .item .ui.input {
    font-size: 16px;
}
